<!doctype html>
<html lang='en' ng-app>
  <head>
   <title>Book Shopping Cart</title>

  <script src="js/angular10.js"></script>
  <script>
    function CartControler($scope) {
      $scope.books = [
        {title: 'Absolute Java',    
            qty: 1, price: 114.95},
        {title: 'Pro HTML5',        
            qty: 1, price: 27.95},
        {title: 'Head First HTML5', 
            qty: 1, price: 27.89}
      ];

      $scope.removeBook = function(index) {
        $scope.books.splice(index, 1);
      }

      // add a new book
      $scope.newBook = function(index) {
        $scope.books.push({
           title: 'New Book',    
           qty: 1, 
           price: 10.99
        })
      }
      
      // update book total
      var books = $scope.books;
      $scope.updateTotal = function() {
          $scope.total = 0;
          for (var i = 0; i < books.length; i++) {
            // console.log('books[i]', books[i].price);
            $scope.total += (books[i].price * books[i].qty);
          }
      }

      $scope.count = 0;
      $scope.updateBookCount = function() {
          console.log("updateBookCount...");
          $scope.count = $scope.books.length;
      }
      
      $scope.$watch('books', function() {
          $scope.updateBookCount();
          $scope.updateTotal();
      }, true)
    }
  </script>
  <link rel="stylesheet" href="css/ex05.css">
  </head>

  <body ng-controller="CartControler" ng-init="updateBookCount()">

    <table>
      <caption><b>My Books</b></caption>
      <thead>
        <tr>
            <th>Title</th>
            <th>Qty</th>
            <th>UnitPrice</th>
            <th>$UnitPrice</th>
            <th>Line Total</th>
            <th>Total {{total | currency}}</th>
        </tr>
      </thead>
      <tbody ng-repeat="book in books">
        <tr>
            <td>
              <input ng-model="book.title">
            </td>
            <td>
                <input ng-model="book.qty" size="3">
            </td>
            <td>
              <input ng-model="book.price">
            </td>            
            <td>{{book.price | currency}}</td>
            <td>{{book.price * book.qty | currency}}</td>
            <td>
                <button ng-click="removeBook($index)">
                    Remove
                </button>
            </td>
        </tr>
      </tbody>
      <tfoot>
        <tr style="background-color: #000;">
          <td align="right">
            <button ng-click="newBook($index)">New</button>            
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td align="right">
            <button ng-click="removeBook($index)">Remove</button>
          </td>
          <td></td>
        </tr>
      </tfoot>      
    </table>
    <b>Book Count : {{count}}</b>
  </body>
</html>


