<div class="container">
  <div class="row">

    <form>
      <div class="row">
        <div class="col">
          <input type="text" #start class="form-control" placeholder="Start" (keyup)="startTrip(start.value)" required>
        </div>
        <div class="col">
          <input type="text" #end class="form-control" placeholder="End" (keyup)="endTrip(end.value)" required>
        </div>
        <div class="col">
          <button class='btn btn-outline-dark'>Get Directions</button>
        </div>
      </div>
      <br>
    </form>

    <table class="table table-striped">
    <thead>
        <tr>
          <th scope="col" colspan="12" bgcolor="red">testing</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let leg of legs; let i = index;">
          <td><img src="{{leg.iconUrl}}"></td>
          <td>{{ i+1 + '.'}}</td>
          <td><a href="{{leg.mapUrl}}" target="_map">{{ leg.narrative }}</a></td>
          <td>{{ leg.distance }}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>


