<!-- <div class="container">
  <div class="row">

    <form>
      <div class="row">
        <div class="col">
          <input type="text" #start class="form-control" placeholder="Start" (keyup)="startTrip(start.value)" required>
        </div>
        <div class="col">
          <input type="text" #end class="form-control" placeholder="End" (keyup)="endTrip(end.value)" required>
        </div>
        <div class="col">
          <button class='btn btn-outline-dark'>Get Directions</button>
        </div>
      </div>
    </form>

    <ul>
      <li *ngFor="let item of items$ | async">{{item}}</li>
    </ul>

  </div>
</div>
 -->

 <div class="container">

    <h2>Wikipedia Demo</h2>

      <p>Search:</p>
      <input #term (keyup)="search(term.value)"/>

      <ul>
        <li *ngFor="let item of items$ | async">{{item}}</li>
      </ul>

  <hr/>



   <table class="table table-striped">
    <thead>
      <tr>
        <th colspan="3" scope="col">Distance: {{totalDistance}} - Total Time: {{totalTime}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let leg of legs;">
        <td scope="col">
          <img src="{{leg.iconUrl}}">
        </td>
        <td scope="col">
          <a href="{{leg.mapUrl}}" target="_map">{{leg.narrative}}</a>
        </td>
        <td scope="col">{{leg.distance}}</td>
      </tr>
    </tbody>
  </table>


  </div>


